<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>191FAC55-FDD6-4A55-8314-560131CAA3B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D18AAA24-14E8-48EB-A5CD-F8A9967B20BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2255BBF4-9908-4B69-A354-008583B23317</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D18AAA24-14E8-48EB-A5CD-F8A9967B20BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D18AAA24-14E8-48EB-A5CD-F8A9967B20BC</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Carmen &amp; Karun</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LLM Prompt Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>pr</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/projects/personal/prompt-library</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Prompt Library Search</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>191FAC55-FDD6-4A55-8314-560131CAA3B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>filepath="$1"

if [ -f "$filepath" ]; then
  cat "$filepath" | pbcopy
else
  echo "File not found or not readable" | pbcopy
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D18AAA24-14E8-48EB-A5CD-F8A9967B20BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>latest</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>prl</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/projects/personal/prompt-library</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Prompt Library Search (Latest Only)</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>2255BBF4-9908-4B69-A354-008583B23317</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Helps finds prompts from your library. Setup with the prompt library path on setup</string>
	<key>uidata</key>
	<dict>
		<key>191FAC55-FDD6-4A55-8314-560131CAA3B8</key>
		<dict>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>2255BBF4-9908-4B69-A354-008583B23317</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>D18AAA24-14E8-48EB-A5CD-F8A9967B20BC</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/projects/personal/prompt-library</string>
				<key>placeholder</key>
				<string>~/projects/personal/prompt-library</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Prompt Library Repository Path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>promptLibraryRepo</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
