<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.may-june-july.airpodsconnector</string>
	<key>connections</key>
	<dict>
		<key>1DA679C0-54A9-49EC-A9E0-B01115A97781</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2378081C-843E-45C6-B549-1B0FFD46EF7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2378081C-843E-45C6-B549-1B0FFD46EF7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>508A3778-0A75-475B-9B1F-EFDEAE4D29DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>508A3778-0A75-475B-9B1F-EFDEAE4D29DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DBA99A0-095C-474D-9CCC-0BA378413D74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F299A3F-B00C-4E94-9C51-5F6D84477107</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C54D2F8B-5CED-4BE4-B705-2BEA07203C3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C54D2F8B-5CED-4BE4-B705-2BEA07203C3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEF5B755-FC76-40F2-80D8-C43DF31C872D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham, May June July</string>
	<key>description</key>
	<string>Connect/disconnect your Apple headsets/earphones</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AirPods Connector</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>alfredpreferences://navigateto/workflows&gt;resolvedependencies</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6DBA99A0-095C-474D-9CCC-0BA378413D74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:main_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./py3.sh list_airpods.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2378081C-843E-45C6-B549-1B0FFD46EF7C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1DA679C0-54A9-49EC-A9E0-B01115A97781</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>blueutil</string>
						<key>outputlabel</key>
						<string>install dependencies</string>
						<key>uid</key>
						<string>1F299A3F-B00C-4E94-9C51-5F6D84477107</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>connect-disconnect</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>508A3778-0A75-475B-9B1F-EFDEAE4D29DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bluetooth-connect.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BEF5B755-FC76-40F2-80D8-C43DF31C872D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>address_or_state</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>C54D2F8B-5CED-4BE4-B705-2BEA07203C3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Connect or disconnect your Apple headsets/earphones via the `airpods` keyword.

![Showcase](README Images/showcase.png)

* ↩ Connect or disconnect the selected device.

In the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/), set your Favorite Device to prioritize it in the results list. Any device whose name contains the configured value will appear at the top.

## Hotkeys

Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for faster triggering.

## Acknowledgments
This workflow is originally created by [Acidham](https://github.com/Acidham). My thanks for their work and kindness for letting me take over.</string>
	<key>uidata</key>
	<dict>
		<key>1DA679C0-54A9-49EC-A9E0-B01115A97781</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>2378081C-843E-45C6-B549-1B0FFD46EF7C</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>508A3778-0A75-475B-9B1F-EFDEAE4D29DA</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>6DBA99A0-095C-474D-9CCC-0BA378413D74</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>BEF5B755-FC76-40F2-80D8-C43DF31C872D</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>C54D2F8B-5CED-4BE4-B705-2BEA07203C3F</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>airpods</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>main_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Favorite Device</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>favorite_device</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.5</string>
	<key>webaddress</key>
	<string>https://github.com/April-June-August/alfred-airpods-connector</string>
</dict>
</plist>
