<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>6222F6C0-F9FA-4ECE-AEA8-C484E7BD4080</string>
	<key>lightthemeuid</key>
	<string>6222F6C0-F9FA-4ECE-AEA8-C484E7BD4080</string>
</dict>
</plist>
